{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div class="container">
            <h1>List of transaction</h1>
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Transaction ID</th>
                    <th scope="col">Customer ID</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Date</th>
                </tr>
                </thead>
                <tbody>
                {% for  item in transactions %}
                    <tr>
                        <th scope="row">{{ item.getTransactionId() }}</th>
                        <td>{{ item.getTransactionId() }}</td>
                        <td>{{ item.getAmount() }}</td>
                        <td>{{ item.getDate() }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>


        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>

        th,td{
            text-align: center;
        }
    </style>
{% endblock %}
